@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@100;300;400;500;700;900 & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@200;300;400;500;600;700&display=swap");

/* IMPOSTAZIONI GENERALI */
:root {
    --b: #023aac;
    --o: #ffa11d;
    --n: #ececec;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
    color: #263460;
}
/* TESTI */
.t-b {
    color: var(--b) !important;
}
.t-o {
    color: var(--o) !important;
}
.t-n {
    color: var(--n) !important;
}
/* SFONDI */
.bg-b {
    background-color: var(--b) !important;
}
.bg-o {
    background-color: var(--o) !important;
}
.bg-n {
    background-color: var(--n) !important;
}

.h1-home {
    font-family: "Russo One", sans-serif;
    font-size: 14vh;
}

.headerHome {
    height: calc(100vh - 56px);
    margin-top: 56px;
}

/* NAVBAR */
.nav-link {
    color: var(--n) !important;
}
.nav-link:hover {
    color: var(--o) !important;
}

.nav-custom {
    width: 96vw;
    position: fixed;
    top: 0;
    box-shadow: 1px 1px 10px var(--b);
    z-index: 1030;
}

.logo {
    width: 30px;
}

.board {
    background: url(/public/media/board.jpg);
    background-position: center;
    background-size: cover;
    height: 32rem;
    width: 100vw;
    box-shadow: 0px 0px 80px lightslategray;
}
.board-text {
    font-size: 4vw;
}

.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15rem;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

.carousel-col {
    max-height: 30rem;
    /* min-height: 15rem; */
}

@media (min-width: 768px) {
    .col-md-5 {
        max-width: 45rem;
        min-width: 35rem;
    }
}

.imgCard {
    width: 14vw;
    object-fit: cover;
    transition: 3s;
}
.card-img-top {
    transition: 0.5s;
}
.card-img-top:hover {
    transform: translateY(-24px) !important;
}
.card-custom {
    border: 2px solid var(--b);
}
input {
    border: 2px solid var(--b) !important;
}

.sfondoHeader {
    background-image: linear-gradient(
            0deg,
            rgba(238, 238, 238, 1) 0%,
            rgba(248, 249, 250, 0) 21%
        ),
        url("/public/media/sfondoHeader-01-01.png");
    background-position: right;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
}

.btnOrange:hover {
    background-color: #dd8a16 !important;
}
.btnBlu:hover {
    background-color: #2155ff !important;
}
.cardLink:hover {
    color: var(--o) !important;
}

.box_categories {
    height: 3rem;
    width: 8rem;
}
