@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@100;300;400;500;700;900 & display=swap");
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200;300;400;500;600;700&display=swap');


/* IMPOSTAZIONI GENERALI */
:root {
    --b: #263460;
    --o: #ff1d1d;
    --n: #ececec;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
    color: #263460;
}
/* TESTI */
.t-b {
    color: var(--b) !important;
}
.t-o {
    color: var(--o) !important;
}
.t-n {
    color: var(--n) !important;
}
/* SFONDI */
.bg-b{
    background-color: var(--b) !important;
}
.bg-o{
    background-color: var(--o) !important;
}
.bg-n{
    background-color: var(--n) !important;
}

h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 14vh;
}

.headerHome {
    height: calc(100vh - 56px);
    margin-top: 56px;
}

/* NAVBAR */
.nav-link{
    color: var(--n);
}
.nav-link:hover{
    color: var(--o);
}
.homeLink {
    color: var(--o) !important;
}

.card {
    width: 250px;
    height: 320px;
    padding: 0.8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: 0.5rem;
    transition: 0.3s ease;
}

.card-info {
    margin-top: 10%;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}

.text-body {
    font-size: 0.9em;
    padding-bottom: 10px;
}

/*Button*/
.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: 0.3em;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}

/*Hover*/
.card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
        rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
}
/* CAROSELLO */
/* .carousel-custom {
    width: 40vw;
    height: 20vh !important;
} */

/* .prova{
    align-items: center;
    margin-top: 300px;
    
} */

/* .imgCarosello{
    width: 500;
    height:300;
} */